.idea
node_modules
typings

./application/startup/server-configuration.ts

**/*.js.map

bootstrap.js
bootstrap.d.ts

application/**/*.js
application/**/*.d.ts
startup/**/*.js
startup/**/*.d.ts

client/**/*.js
client/**/*.d.ts

public/css/app.css
public/js/app.js

bots
.npm-debug.log
