$body-bg-color: #1b2838;
$bg-primary: #454545;
$bg-hover: #ffdb81;

$text-color-primary: #000;
$text-color-light: #555;

$link-color-primary: #fff;
$link-color-hover-reversed: #000;
$link-hover-color: $bg-hover;

$text-color-bright: #fff;
$text-color-muted: #8F98A0;