<section class="app-container">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div id='user-offer' class="trade-window trade-window--small">
                    <header class="trade-window-header">
                        <div class="trade-window-header-item header-item--left"><span class="trade-window-header-text">your offerManager</span>
                        </div>
                        <div class="trade-window-header-item header-item--right"><span class="trade-window-header-text">$25.30</span></div>
                    </header>

                    <div data-inventory-window class="trade-items">
                        <div data-inventory-content class="inventory-content"></div>
                        <div  data-inventory-indicator class="inventory-loader-indicator hidden">
                            <img src="img/inventory-spinner.gif" alt="spinner">
                        </div>
                    </div>
                </div> <!-- trade window ends -->
            </div> <!-- offerManager container ends -->

            <div class="col-md-2">
                <div class="trade-control">
                    <div class="trade-button_container">
                        <a id='trade-button' class="trade-button disabled theme-bg">trade</a>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div id='app-offer' class="trade-window trade-window--small">
                    <header class="trade-window-header">
                        <div class="trade-window-header-item header-item--left"><span class="trade-window-header-text">owner's offerManager</span>
                        </div>
                        <div class="trade-window-header-item header-item--right"><span class="trade-window-header-text">$20.00</span></div>
                    </header>

                    <div data-inventory-window class="trade-items">
                        <div data-inventory-content class="inventory-content"></div>
                        <div  data-inventory-indicator class="inventory-loader-indicator hidden">
                            <img src="img/inventory-spinner.gif" alt="spinner">
                        </div>
                    </div>
                </div> <!-- trade window ends -->
            </div> <!-- offerManager container ends -->
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div id='user-inventory' class="trade-window">
                    <header class="trade-window-header">
                        <div class="trade-window-header-item header-item--left"><span class="trade-window-header-text">filter</span>
                        </div>
                        <div class="trade-window-header-item header-item--right"><span class="trade-window-header-text">27 items</span></div>
                    </header>

                    <div data-inventory-window class="trade-items">
                        <div data-inventory-content class="inventory-content"></div>
                        <div  data-inventory-indicator class="inventory-loader-indicator hidden">
                            <img src="img/inventory-spinner.gif" alt="spinner">
                        </div>
                    </div>
                </div> <!-- trade window ends -->
            </div> <!-- offerManager container ends -->

            <div class="col-md-2">
                <div class="trade-window">
                    <header class="trade-window-header">
                        <div class="trade-window-header-item market-rates-title">
                            <span clas="trade-window-header-text">market rates</span>
                        </div>
                    </header>

                    <div class="market-rates_data">
                        <div class="market-item-group">
                            <span class="market-item-name">keys :</span>
                            <div class="market-item_rates">
                                <span class="market-item_rate-min">95 %</span> |
                                <span class="market-item_rate-max">100 %</span>
                            </div>
                        </div>
                        <div class="market-item-group">
                            <span class="market-item-name">knives :</span>
                            <div class="market-item_rates">
                                <span class="market-item_rate-min">95 %</span> |
                                <span class="market-item_rate-max">100 %</span>
                            </div>
                        </div>
                        <div class="market-item-group">
                            <span class="market-item-name">weapons :</span>
                            <div class="market-item_rates">
                                <span class="market-item_rate-min">95 %</span> |
                                <span class="market-item_rate-max">100 %</span>
                            </div>
                        </div>
                        <div class="market-item-group">
                            <span class="market-item-name">misc :</span>
                            <div class="market-item_rates">
                                <span class="market-item_rate-min">95 %</span> |
                                <span class="market-item_rate-max">100 %</span>
                            </div>
                        </div>
                        <div class="market-item-group">
                            <span class="market-item-name">crates :</span>
                            <div class="market-item_rates">
                                <span class="market-item_rate-min">95 %</span> |
                                <span class="market-item_rate-max">100 %</span>
                            </div>
                        </div>

                        <div class="market-rates-info">
                            <a class="market-rates-info_button">read more...</a>
                        </div>
                    </div>

                </div> <!-- market rates ends -->
            </div> <!-- market rates container ends -->

            <div class="col-md-5">
                <div id='app-inventory' class="trade-window" data-inventory-component>
                    <header class="trade-window-header">
                        <div class="trade-window-header-item header-item--left"><span class="trade-window-header-text">filter</span>
                        </div>
                        <div id='sort-app-inventory' class="trade-window-header-item header-item--left">
                            <button id="sort-high">highest on top</button>
                            <button id="sort-low">lowest on top</button>
                        </div>
                        <div class="trade-window-header-item header-item--right"><span class="trade-window-header-text">235 items</span></div>
                    </header>

                    <div data-inventory-window class="trade-items">
                        <div data-inventory-content class="inventory-content"></div>
                        <div  data-inventory-indicator class="inventory-loader-indicator hidden">
                            <img src="img/inventory-spinner.gif" alt="spinner">
                        </div>
                    </div>
                </div> <!-- trade window ends -->
            </div> <!-- offerManager container ends -->
        </div>
    </div>

</section>